@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: var(--Very-Pale-Blue);
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  position: relative;
  margin-block: 50px;
}
body header img {
  position: absolute;
  top: -39px;
  z-index: -1;
}
body header h1 {
  font-weight: 800;
  padding-block: 10px;
}
body header p {
  font-style: normal;
  color: var(--Grayish-Blue);
  font-size: 15px;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin-block: 50px;
  background-color: white;
  position: relative;
  font-family: "Manrope", sans-serif;
  box-shadow: 0 1rem 1.5rem rgba(31, 47, 86, 0.2);
  border-radius: 7px;
}
body main p {
  font-style: normal;
  color: var(--Grayish-Blue);
}
body main .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 20px;
}
body main .price P {
  font-weight: 600;
}
body main .price #bold {
  position: relative;
  font-size: 40px;
  color: black;
}
body main .price #bold::after {
  content: " / month";
  position: relative;
  font-size: 15px;
  top: -5px;
  color: var(--Grayish-Blue);
}
body main .billing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-block: 20px;
  font-size: 14px;
}
body main .billing small {
  align-self: flex-end;
  color: var(--Light-Red);
  background-color: var(--Light-Grayish-Red);
}
body main .perks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-inline: 40px;
  gap: 100px;
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
}
body main .perks .left {
  font-size: 13px;
}
body main .perks .left div {
  margin-bottom: 7px;
}
body main .perks div {
  font-style: normal;
  color: var(--Grayish-Blue);
}
body main .perks button {
  font-weight: 600;
  color: white;
  width: 160px;
  background-color: var(--Dark-Desaturated-Blue);
  padding: 13px;
  box-shadow: 0 1rem 1.5rem rgba(31, 47, 86, 0.2);
  border-radius: 33px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}/*# sourceMappingURL=App.css.map */